.footer {
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background: #2c3e50;

  h5 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5rem;

      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #3498db;
        }
      }
    }
  }
}