<footer class="footer">
    <div class="footer-section">
        <h5>Programmer</h5>
        <ul>
          <li><a href="https://www.paulpietzko.com">Paul Pietzko</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h5>Project</h5>
        <ul>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">GitHub</a></li>
        </ul>
    </div>
    <div class="footer-section">
      <h5>Legal Notices</h5>
      <ul>
        <li><a href="#">Impressum</a></li>
      </ul>
    </div>
  </footer>
  