.classroom-layout {
    .row {
      display: flex;
      .seat {
        width: 60px;
        height: 50px;
        border: 1px solid black;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
}