<div class="input">
    <li><a href="../home/">Zurück</a></li>
    <li><a href="../generator/">Generieren</a></li>
</div>
<div *ngIf="classDetails; else noClassDetails">
    <h2>{{ classDetails.name }}</h2>
    <p>Anzahl Schüler: {{ classDetails.studentsCount }}</p>

    <mat-form-field appearance="fill" class="student-add-form">
        <mat-label>Neuen Schüler hinzufügen</mat-label>
        <input matInput [(ngModel)]="newStudentName" placeholder="Name">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addStudent()">Hinzufügen</button>

    <ul class="student-list">
        <li *ngFor="let student of classDetails.students; let i = index" (click)="removeStudent(i)"
            [class.stricken]="hoveredStudent === i" (mouseover)="hoveredStudent = i" (mouseout)="hoveredStudent = null">
            {{ student.name }}
        </li>
    </ul>
</div>

<ng-template #noClassDetails>
    <p>Keine Details für diese Klasse gefunden.</p>
</ng-template>