<div class="settings-container">
    <section class="settings-section">
        <h1>Settings</h1>
        <div class="tab">
            <h2>
                <span class="chevron">&#x25BA;</span>
                Pärchen die Zusammensitzen müssen
            </h2>
            <p></p>
        </div>
        <div class="tab">
            <h2>
                <span class="chevron">&#x25BA;</span>
                Pärchen die nicht Zusammensitzen dürfen
            </h2>
            <p></p>
        </div>
    </section>
</div>