<div class="settings-container">
    <section class="settings-section">
        <h1>Einstellungen</h1>
        <div class="tab">
            <h2 (click)="togglePairings()">
                <span class="chevron" [ngClass]="{'rotated': isPairingsOpen}">&#x25BA;</span>
                Pärchen, die zusammensitzen müssen
            </h2>
            <div class="tab-content" [ngClass]="{'open': isPairingsOpen}">
                <select [(ngModel)]="selectedStudentOneId">
                    <option *ngFor="let student of students" [value]="student.id">{{ student.name }}</option>
                </select>
                <select [(ngModel)]="selectedStudentTwoId">
                    <option *ngFor="let student of students" [value]="student.id">{{ student.name }}</option>
                </select>
                <button (click)="handlePairSelection(selectedStudentOneId ?? '', selectedStudentTwoId ?? '', true)">
                    Paar hinzufügen
                </button>
                <p>Aktuelle Paarungen: {{ getPairingsDisplay() }}</p>
            </div>
        </div>
    </section>
</div>
